.brand-background {
  background-color: black;
  padding: 10px;
  margin-bottom: 10px;
  height: 20%;
}

.brand-bar {
    display: flex;
    height: 75%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.brand-image {
    border-radius: 25px;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.brand-title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Aclonica', sans-serif;
}

.brand-text {
  color: white;
  font-size: 1.5rem;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Aclonica', sans-serif;
  
}