.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  color: white;
}

@media screen and (min-width: 700px) {
  .auth-form-container {
    width: 50%;
    background-color: black;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 600px) {
  .auth-form-container {
    padding: 2rem;

    border-radius: 10px;
    margin: 0.6rem;
    background-color: black;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #070707;
  font-size: larger;
  font-weight: bolder;
  margin-top: 2rem;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

/* /// footer styles */
.footer-container {
  position: fixed;
  bottom: 0;

  width: 100%;
  background-color: rgb(5, 4, 4);
  color: azure;
}

.footer-elements {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.copyright {
  margin-left: 4rem;
}
.icons {
  display: flex;
  /* background-color: blue; */
  margin-right: 1rem;
}

/* new drinks form styling */
.options {
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 0.5rem;
}

/* new cocktail form  */
.newCockt {
  margin-bottom: 5rem;
}

@media screen and (max-width: 600px) {
  .footerr {
    /* background-color: red; */
    margin-top: -1rem;
    margin-bottom: -1rem;
    justify-content: space-around;
  }
  .copyright {
    margin-right: 1rem;
  }
  .icons {
    display: flex;
    /* background-color: blue; */
    margin-right: 0rem;
  }
  .copyright {
    font-size: 0.8rem;
    margin-top: 0.8rem;
    padding: 0;
    margin-left: 10px;
    margin-right: -1px;
  }
  /* new cocktail form */
  .newCockt {
    margin-bottom: 7rem;
    margin-top: 2rem;
  }
}
