.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  color: white;
}

@media screen and (min-width: 700px) {
  .auth-form-container {
    width: 50%;
    background-color: black;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 600px) {
  .auth-form-container {
    padding: 2rem;

    border-radius: 10px;
    margin: 0.6rem;
    background-color: black;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #070707;
  font-size: larger;
  font-weight: bolder;
  margin-top: 2rem;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.footer-containe {
  margin-bottom: 1rem;
}
